<?xml version="1.0"?>
<configuration>
  <!-- EWS Version: 2.0.0011.0100 -->
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EWSService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
    <section name="OutputExtensionGroup" type="com.hpexstream.services.ews.OutputExtensionSection, EWSService"/>
	</configSections>
	<appSettings>
		<add key="WorkingDirectory" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\EngineService\scratch"/>
		<add key="EngineExecutableSBCS" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\engine\ProdEngine_sbcs.exe"/>
		<add key="EngineExecutableDBCS" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\engine\ProdEngine_dbcs.exe"/>
		<add key="MessageResourceFile" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\engine\MsgResource_en-us.dat"/>
		<add key="OutputHeaderExtension" value="hdr"/>
		<add key="PackageFileDirectory" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\EngineService\packages"/>
		<add key="DDADirectory" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\EngineService\dda"/>
		<add key="OutputDirectory" value="E:\installed_apps\CCM_Demo\UseCase1\EWS\EngineService\output"/>
		<add key="CreateOutputDirectories" value="true"/>
		<add key="SequencedOutput" value="true"/>
		<add key="SuppressStatusMessage" value="false" />
		<add key="RetainWorkingDirectory" value="false" />
		
    <add key="ProductKeySBCS" value="BXP9VuXmP7ZixaoOA5jlZ3WmADD3diNdOgKh2CbMcopdCdsUfNrDcXP9n8mb7BMc6aoOA5jlZ3W0pkL4iNQNspEb1Hrz1HgyDSsUf2kGgXP9n8mb7BMc6aoOA5jlZ3W0pkL4iNQdRCqh2Krz1HgyDSsUfC0"/>
		<add key="ProductKeyDBCS" value="BXP9VuXmP7ZixaoOA5jlZ3WmADD3diNdOgKh2CbMcopdCdsUfNrDcXP9n8mb7BMc6aoOA5jlZ3W0pkL4iNQNspEb1Hrz1HgyDSsUf2kGgXP9n8mb7BMc6aoOA5jlZ3W0pkL4iNQdRCqh2Krz1HgyDSsUfC0"/>
   
		<add key="ProductionMode" value="false"/>
		<!-- Uncomment the RequestFilter section to enable RequestFilter forwarding -->
		<!--
		<add key="RequestFilter" value="http://localhost:1626/RequestFilter.asmx"/>
		<add key="headers-required" value="false"/>
		<add key="send-request-body" value="false"/>
		<add key="use-response-body" value="false"/>	 
		-->
	</appSettings>
  <!-- 
  Section used to override the extension associated with a given output type.
  The output name is internal and should not be changed.  Only change the extension! 
  -->
  <OutputExtensionGroup>
    <OutputExtensions>
      <add output="afp" extension="afp"/>
      <add output="postscript" extension="ps"/>
      <add output="metacode" extension="meta"/>
      <add output="pdf" extension="pdf"/>
      <add output="pcl" extension="pcl"/>
      <add output="ijpds" extension="ijp"/>
      <add output="vps" extension="vps"/>
      <add output="rtf" extension="rtf"/>
      <add output="html" extension="htm"/>
      <add output="dxf" extension="dxf"/>
      <add output="ppml" extension="ppml"/>
      <add output="tiff" extension="tif"/>
      <add output="3211LD" extension="xml"/>
      <add output="vipp" extension="vipp"/>
      <add output="powerpoint" extension="ppt"/>
      <add output="vdx" extension="vdx"/>
      <add output="mibf" extension="mibf"/>
      <add output="content-xml" extension="xml"/>
      <add output="live" extension="dlf"/>
      <add output="pdf-a" extension="pdf"/>
      <add output="edgar-html" extension="htm"/>
      <add output="screen" extension="top"/>
      <add output="multi-channel" extension="xml"/>
      <add output="docx" extension="docx"/>
      <add output="pptx" extension="pptx"/>
      <add output="htmlemail" extension="html"/>
      <add output="zpl" extension="zpl"/>
      <add output="empower" extension="mpw"/>
      <add output="report" extension="rpt"/>
    </OutputExtensions>
  </OutputExtensionGroup>
	<connectionStrings/>
	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
	<system.serviceModel>
	<serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="HPExstream.WebServices.EngineService">
				<!-- To enable Basic HTTP binding, uncomment and choose which encoding to be used (BasicEncoding or MTOMEncoding) --> 
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicEncoding" contract="HPExstream.WebServices.IEngineService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!-- To enable WS Binding, uncomment and choose which encoding to be used (BasicEncoding or MTOMEncoding)
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="BasicEncoding" contract="HPExstream.WebServices.IEngineService">
				<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				-->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<!-- To enable basic HTTP binding, uncomment and refer to this binding  -->
			<basicHttpBinding>
				<binding name="BasicEncoding" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8">
                  <readerQuotas maxArrayLength="2147483647" />
				</binding>
			    <binding name="MTOMEncoding" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed">
                  <readerQuotas maxArrayLength="2147483647" />
				</binding>
			</basicHttpBinding>
			<!-- To enable ws binding, uncomment here, wsBinding does not support Streamed transferMode
			<wsHttpBinding>
				<binding name="BasicEncoding" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8">
                  <readerQuotas maxArrayLength="2147483647" />
				</binding>
				<binding name="MTOMEncoding" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8">
                  <readerQuotas maxArrayLength="2147483647" />
				</binding>
			</wsHttpBinding>
			-->
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
